  
  <div fxFlex>
      <h2><b>Menu</b></h2>
      <hr>
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
   <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
   <div [hidden]="dishes">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
  </div>

  
